@{
    ViewData["Title"] = "VerRecetas";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<body onload="DinamicMenu(); CargarRecetasTodo()">

    <div class="page-section border-bottom-2 mt-5">
        <div class="container page__container">
            <div class="page-separator">
                <div class="page-separator__text">Recetas de la Comunidad</div>
            </div>

            @********************** FILA 1 **********************@

            <div class="row card-group-row">

                @********************** RECETA 0 **********************@

                <div class="col-sm-4 card-group-row__col" style="cursor:pointer;">
                    <div id="Card0" class="card js-overlay card-sm overlay--primary-dodger-blue stack stack--1 card-group-row__card">
                        <div class="card-body d-flex flex-column">
                            <div class="d-flex align-items-center">
                                <div class="flex">
                                    <div class="d-flex align-items-center">
                                        <div class="rounded mr-12pt z-0 o-hidden">
                                            <div class="overlay">
                                                <i class="fas fa-coffee fa-2x" style="color: #f6b10a;"></i>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <div id="NombreReceta0" class="card-title"></div>
                                            <p id="NombreUsuario0" class="flex text-black-50 lh-1 mb-0"><small></small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @********************** RECETA 1 **********************@
                <div class="col-sm-4 card-group-row__col" style="cursor:pointer;">
                    <div id="Card1" class="card js-overlay card-sm overlay--primary-dodger-blue stack stack--1 card-group-row__card">
                        <div class="card-body d-flex flex-column">
                            <div class="d-flex align-items-center">
                                <div class="flex">
                                    <div class="d-flex align-items-center">
                                        <div class="rounded mr-12pt z-0 o-hidden">
                                            <div class="overlay">
                                                <i class="fas fa-coffee fa-2x" style="color: #f6b10a;"></i>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <div id="NombreReceta1" class="card-title"></div>
                                            <p id="NombreUsuario1" class="flex text-black-50 lh-1 mb-0"><small></small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @********************** RECETA 2 **********************@

                <div class="col-sm-4 card-group-row__col" style="cursor:pointer;">
                    <div id="Card2" class="card js-overlay card-sm overlay--primary-dodger-blue stack stack--1 card-group-row__card">
                        <div class="card-body d-flex flex-column">
                            <div class="d-flex align-items-center">
                                <div class="flex">
                                    <div class="d-flex align-items-center">
                                        <div class="rounded mr-12pt z-0 o-hidden">
                                            <div class="overlay">
                                                <i class="fas fa-coffee fa-2x" style="color: #f6b10a;"></i>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <div id="NombreReceta2" class="card-title"></div>
                                            <p id="NombreUsuario2" class="flex text-black-50 lh-1 mb-0"><small></small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @********************** FILA 2 **********************@

            <div class="row card-group-row">

                @********************** RECETA 3 **********************@

                <div class="col-sm-4 card-group-row__col" style="cursor:pointer;">
                    <div id="Card3" class="card js-overlay card-sm overlay--primary-dodger-blue stack stack--1 card-group-row__card">
                        <div class="card-body d-flex flex-column">
                            <div class="d-flex align-items-center">
                                <div class="flex">
                                    <div class="d-flex align-items-center">
                                        <div class="rounded mr-12pt z-0 o-hidden">
                                            <div class="overlay">
                                                <i class="fas fa-coffee fa-2x" style="color: #f6b10a;"></i>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <div id="NombreReceta3" class="card-title"></div>
                                            <p id="NombreUsuario3" class="flex text-black-50 lh-1 mb-0"><small></small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @********************** RECETA 4 **********************@
                <div class="col-sm-4 card-group-row__col" style="cursor:pointer;">
                    <div id="Card4" class="card js-overlay card-sm overlay--primary-dodger-blue stack stack--1 card-group-row__card">
                        <div class="card-body d-flex flex-column">
                            <div class="d-flex align-items-center">
                                <div class="flex">
                                    <div class="d-flex align-items-center">
                                        <div class="rounded mr-12pt z-0 o-hidden">
                                            <div class="overlay">
                                                <i class="fas fa-coffee fa-2x" style="color: #f6b10a;"></i>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <div id="NombreReceta4" class="card-title"></div>
                                            <p id="NombreUsuario4" class="flex text-black-50 lh-1 mb-0"><small></small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @********************** RECETA 5 **********************@

                <div class="col-sm-4 card-group-row__col" style="cursor:pointer;">
                    <div id="Card5" class="card js-overlay card-sm overlay--primary-dodger-blue stack stack--1 card-group-row__card">
                        <div class="card-body d-flex flex-column">
                            <div class="d-flex align-items-center">
                                <div class="flex">
                                    <div class="d-flex align-items-center">
                                        <div class="rounded mr-12pt z-0 o-hidden">
                                            <div class="overlay">
                                                <i class="fas fa-coffee fa-2x" style="color: #f6b10a;"></i>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <div id="NombreReceta5" class="card-title"></div>
                                            <p id="NombreUsuario5" class="flex text-black-50 lh-1 mb-0"><small></small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @********************** FILA 3 **********************@

            <div class="row card-group-row">

                @********************** RECETA 6 **********************@

                <div class="col-sm-4 card-group-row__col" style="cursor:pointer;">
                    <div id="Card6" class="card js-overlay card-sm overlay--primary-dodger-blue stack stack--1 card-group-row__card">
                        <div class="card-body d-flex flex-column">
                            <div class="d-flex align-items-center">
                                <div class="flex">
                                    <div class="d-flex align-items-center">
                                        <div class="rounded mr-12pt z-0 o-hidden">
                                            <div class="overlay">
                                                <i class="fas fa-coffee fa-2x" style="color: #f6b10a;"></i>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <div id="NombreReceta6" class="card-title"></div>
                                            <p id="NombreUsuario6" class="flex text-black-50 lh-1 mb-0"><small></small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @********************** RECETA 7 **********************@
                <div class="col-sm-4 card-group-row__col" style="cursor:pointer;">
                    <div id="Card7" class="card js-overlay card-sm overlay--primary-dodger-blue stack stack--1 card-group-row__card">
                        <div class="card-body d-flex flex-column">
                            <div class="d-flex align-items-center">
                                <div class="flex">
                                    <div class="d-flex align-items-center">
                                        <div class="rounded mr-12pt z-0 o-hidden">
                                            <div class="overlay">
                                                <i class="fas fa-coffee fa-2x" style="color: #f6b10a;"></i>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <div id="NombreReceta7" class="card-title"></div>
                                            <p id="NombreUsuario7" class="flex text-black-50 lh-1 mb-0"><small></small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @********************** RECETA 8 **********************@

                <div class="col-sm-4 card-group-row__col" style="cursor:pointer;">
                    <div id="Card8" class="card js-overlay card-sm overlay--primary-dodger-blue stack stack--1 card-group-row__card">
                        <div class="card-body d-flex flex-column">
                            <div class="d-flex align-items-center">
                                <div class="flex">
                                    <div class="d-flex align-items-center">
                                        <div class="rounded mr-12pt z-0 o-hidden">
                                            <div class="overlay">
                                                <i class="fas fa-coffee fa-2x" style="color: #f6b10a;"></i>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <div id="NombreReceta8" class="card-title"></div>
                                            <p id="NombreUsuario8" class="flex text-black-50 lh-1 mb-0"><small></small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @********************** FILA 4 **********************@

            <div class="row card-group-row">

                @********************** RECETA 9 **********************@

                <div class="col-sm-4 card-group-row__col" style="cursor:pointer;">
                    <div id="Card9" class="card js-overlay card-sm overlay--primary-dodger-blue stack stack--1 card-group-row__card">
                        <div class="card-body d-flex flex-column">
                            <div class="d-flex align-items-center">
                                <div class="flex">
                                    <div class="d-flex align-items-center">
                                        <div class="rounded mr-12pt z-0 o-hidden">
                                            <div class="overlay">
                                                <i class="fas fa-coffee fa-2x" style="color: #f6b10a;"></i>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <div id="NombreReceta9" class="card-title"></div>
                                            <p id="NombreUsuario9" class="flex text-black-50 lh-1 mb-0"><small></small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @********************** RECETA 10 **********************@
                <div class="col-sm-4 card-group-row__col" style="cursor:pointer;">
                    <div id="Card10" class="card js-overlay card-sm overlay--primary-dodger-blue stack stack--1 card-group-row__card">
                        <div class="card-body d-flex flex-column">
                            <div class="d-flex align-items-center">
                                <div class="flex">
                                    <div class="d-flex align-items-center">
                                        <div class="rounded mr-12pt z-0 o-hidden">
                                            <div class="overlay">
                                                <i class="fas fa-coffee fa-2x" style="color: #f6b10a;"></i>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <div id="NombreReceta10" class="card-title"></div>
                                            <p id="NombreUsuario10" class="flex text-black-50 lh-1 mb-0"><small></small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @********************** RECETA 11 **********************@

                <div class="col-sm-4 card-group-row__col" style="cursor:pointer;">
                    <div id="Card11" class="card js-overlay card-sm overlay--primary-dodger-blue stack stack--1 card-group-row__card">
                        <div class="card-body d-flex flex-column">
                            <div class="d-flex align-items-center">
                                <div class="flex">
                                    <div class="d-flex align-items-center">
                                        <div class="rounded mr-12pt z-0 o-hidden">
                                            <div class="overlay">
                                                <i class="fas fa-coffee fa-2x" style="color: #f6b10a;"></i>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <div id="NombreReceta11" class="card-title"></div>
                                            <p id="NombreUsuario11" class="flex text-black-50 lh-1 mb-0"><small></small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @********************** FILA 5 **********************@

            <div class="row card-group-row">

                @********************** RECETA 12 **********************@

                <div class="col-sm-4 card-group-row__col" style="cursor:pointer;">
                    <div id="Card12" class="card js-overlay card-sm overlay--primary-dodger-blue stack stack--1 card-group-row__card">
                        <div class="card-body d-flex flex-column">
                            <div class="d-flex align-items-center">
                                <div class="flex">
                                    <div class="d-flex align-items-center">
                                        <div class="rounded mr-12pt z-0 o-hidden">
                                            <div class="overlay">
                                                <i class="fas fa-coffee fa-2x" style="color: #f6b10a;"></i>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <div id="NombreReceta12" class="card-title"></div>
                                            <p id="NombreUsuario12" class="flex text-black-50 lh-1 mb-0"><small></small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @********************** RECETA 13 **********************@
                <div class="col-sm-4 card-group-row__col" style="cursor:pointer;">
                    <div id="Card13" class="card js-overlay card-sm overlay--primary-dodger-blue stack stack--1 card-group-row__card">
                        <div class="card-body d-flex flex-column">
                            <div class="d-flex align-items-center">
                                <div class="flex">
                                    <div class="d-flex align-items-center">
                                        <div class="rounded mr-12pt z-0 o-hidden">
                                            <div class="overlay">
                                                <i class="fas fa-coffee fa-2x" style="color: #f6b10a;"></i>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <div id="NombreReceta13" class="card-title"></div>
                                            <p id="NombreUsuario13" class="flex text-black-50 lh-1 mb-0"><small></small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @********************** RECETA 14 **********************@

                <div class="col-sm-4 card-group-row__col" style="cursor:pointer;">
                    <div id="Card14" class="card js-overlay card-sm overlay--primary-dodger-blue stack stack--1 card-group-row__card">
                        <div class="card-body d-flex flex-column">
                            <div class="d-flex align-items-center">
                                <div class="flex">
                                    <div class="d-flex align-items-center">
                                        <div class="rounded mr-12pt z-0 o-hidden">
                                            <div class="overlay">
                                                <i class="fas fa-coffee fa-2x" style="color: #f6b10a;"></i>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <div id="NombreReceta14" class="card-title"></div>
                                            <p id="NombreUsuario14" class="flex text-black-50 lh-1 mb-0"><small></small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @********************** FILA 6 **********************@

            <div class="row card-group-row">

                @********************** RECETA 15 **********************@

                <div class="col-sm-4 card-group-row__col" style="cursor:pointer;">
                    <div id="Card15" class="card js-overlay card-sm overlay--primary-dodger-blue stack stack--1 card-group-row__card">
                        <div class="card-body d-flex flex-column">
                            <div class="d-flex align-items-center">
                                <div class="flex">
                                    <div class="d-flex align-items-center">
                                        <div class="rounded mr-12pt z-0 o-hidden">
                                            <div class="overlay">
                                                <i class="fas fa-coffee fa-2x" style="color: #f6b10a;"></i>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <div id="NombreReceta15" class="card-title"></div>
                                            <p id="NombreUsuario15" class="flex text-black-50 lh-1 mb-0"><small></small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @********************** RECETA 16 **********************@
                <div class="col-sm-4 card-group-row__col" style="cursor:pointer;">
                    <div id="Card16" class="card js-overlay card-sm overlay--primary-dodger-blue stack stack--1 card-group-row__card">
                        <div class="card-body d-flex flex-column">
                            <div class="d-flex align-items-center">
                                <div class="flex">
                                    <div class="d-flex align-items-center">
                                        <div class="rounded mr-12pt z-0 o-hidden">
                                            <div class="overlay">
                                                <i class="fas fa-coffee fa-2x" style="color: #f6b10a;"></i>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <div id="NombreReceta16" class="card-title"></div>
                                            <p id="NombreUsuario16" class="flex text-black-50 lh-1 mb-0"><small></small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @********************** RECETA 17 **********************@

                <div class="col-sm-4 card-group-row__col" style="cursor:pointer;">
                    <div id="Card17" class="card js-overlay card-sm overlay--primary-dodger-blue stack stack--1 card-group-row__card">
                        <div class="card-body d-flex flex-column">
                            <div class="d-flex align-items-center">
                                <div class="flex">
                                    <div class="d-flex align-items-center">
                                        <div class="rounded mr-12pt z-0 o-hidden">
                                            <div class="overlay">
                                                <i class="fas fa-coffee fa-2x" style="color: #f6b10a;"></i>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <div id="NombreReceta17" class="card-title"></div>
                                            <p id="NombreUsuario17" class="flex text-black-50 lh-1 mb-0"><small></small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @********************** Modal ver Receta **********************@
            <div class="modal fade mt-5" id="ModalVerReceta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="mdk-header-layout__content page-content " style="padding-top: 8%">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header badge-primary-yellow">
                                <h5 class="modal-title" id="NombreReceta"></h5>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <p class="text-black-100 font-size-16pt text-info" id="DescReceta" style=" text-align: justify;"></p>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @****************************************** Paginacion ******************************************@

            <div class="container page__container page-section w-auto">
                <div class="flex">
                    <nav id="navPaginacion" aria-label="Page navigation">
                        <ul id="ulPaginacion" class="pagination pagination-sm ">
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </div>

</body>
<script src="~/js/jsRecetas.js"></script>