
@{
    ViewData["Title"] = "Contacto";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}
<!-- Header Layout Content -->
<body onload="DinamicMenu();">

    <button id="alertaVacios" hidden data-toggle="toastr" data-toastr-type="warning" data-toastr-title="Alerta" data-toastr-message="No pueden haber espacios vacíos">
        <!--Este boton alerta Espacios Vacios-->
    </button>
    <button id="ErrorCorreoEnviado" hidden data-toggle="toastr" data-toastr-type="warning" data-toastr-title="Alerta" data-toastr-message="No se pudo enviar el correo al equipo de Coffe Talks">
        <!--Este boton alerta Espacios Vacios-->
    </button>
    <button id="alertaCorreoEnviado" hidden data-toggle="toastr" data-toastr-type="primary" data-toastr-title="Notificación" data-toastr-message="Correo enviado al Equipo de Coffe Talks">
        <!--Este boton confirma creaciones -->
    </button>

    <div class="mdk-box bg-primary mdk-box--bg-gradient-primary2 js-mdk-box mb-0" data-effects="blend-background">
        <div class="mdk-box__content">
            <div class="hero py-64pt text-center text-sm-left">
                <div class="container page__container">
                    <br /><br />
                    <h1 class="text-white">Contacto</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-list navbar-light border-bottom navbar-expand-sm" style="white-space: nowrap;">
        <div class="container page__container">
            <nav class="nav navbar-nav">
                <div class="nav-item navbar-list__item">
                    <a href="/Home/Index" class="nav-link h-auto"><i class="material-icons icon--left">keyboard_backspace</i>Volver al Inicio</a>
                </div>
            </nav>
        </div>
    </div>

    <div class="container page__container">
        <div class="row">
            <div class="col-lg-9">
                <div class="page-section">

                    <form id="Form_Contacto" name="Form_Contacto" method="post" enctype="multipart/form-data">
                        <div class="list-group">
                            <div class="list-group-item">
                                <div role="group" aria-labelledby="label-question" class="m-0 form-group">
                                    <div class="form-row">
                                        <label id="label-question" for="question" class="col-md-3 col-form-label form-label">Nombre Completo</label>
                                        <div class="col-md-9">
                                            <input id="NomUsuario" type="text" required class="form-control form-control-prepended" name="NomUsuario">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div role="group" aria-labelledby="label-question" class="m-0 form-group">
                                    <div class="form-row">
                                        <label id="label-question" for="question" class="col-md-3 col-form-label form-label">Correo Electrónico:</label>
                                        <div class="col-md-9">
                                            <span data-toggle="tooltip" data-placement="top" title="Tu correo electrónico de contacto">

                                                <input id="CorreoUsuario" type="text" required class="form-control form-control-prepended" name="CorreoUsuario">
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div role="group" aria-labelledby="label-question" class="m-0 form-group">
                                    <div class="form-row">
                                        <label id="label-question" for="question" class="col-md-3 col-form-label form-label">Asunto:</label>
                                        <div class="col-md-9">
                                            <input id="AsuntoCorreo" type="text" required class="form-control form-control-prepended" name="AsuntoCorreo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div role="group" aria-labelledby="label-question" class="m-0 form-group">
                                    <div class="form-row">
                                        <label id="label-question" for="question" class="col-md-3 col-form-label form-label">Mensaje</label>
                                        <div class="col-md-9">
                                            <textarea cols="10" rows="5" required class="form-control" id="MensajeCorreo" name="MensajeCorreo"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <a class="btn btn-primary text-white-100 float-right" onclick="CorreoContacto()">Enviar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 page-nav">
                <div data-perfect-scrollbar data-perfect-scrollbar-wheel-propagation="true">
                    <div class="page-section pt-lg-112pt">
                        <div class="nav page-nav__menu">
                            <a href="/Home/Faq" class="nav-link active">Ver Preguntas Frecuentes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mdk-header-layout__content page-content">
    </div>
</body>
<script src="~/js/jsCorreo.js"></script>