@{ ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_LayoutBase.cshtml"; }
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex">

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap" rel="stylesheet">

    <!-- Perfect Scrollbar -->
    <link type="text/css" href="~/vendor/perfect-scrollbar.css" rel="stylesheet">

    <!-- Fix Footer CSS -->
    <link type="text/css" href="~/vendor/fix-footer.css" rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css" href="~/css/material-icons.css" rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link type="text/css" href="~/css/fontawesome.css" rel="stylesheet">

    <!-- Preloader -->
    <link type="text/css" href="~/css/preloader.css" rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css" href="~/css/app.css" rel="stylesheet">

</head>

<body class="layout-sticky-subnav layout-default" onload="DinamicMenu();">

    <div class="mdk-box bg-primary mdk-box--bg-gradient-primary2 js-mdk-box mb-0" data-effects="blend-background">
        <div class="mdk-box__content">
            <div class="hero py-64pt text-center text-sm-left">
                <div class="container page__container">
                    <br /><br />
                    <h1 class="text-white">Terminos y condiciones</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section container page__container">
        <div class="list-group list-group-form">
            <div class="list-group-item">
                <p class="font-size-16pt" style="text-align: justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec est mauris, viverra et fringilla quis, maximus vel mauris. Vestibulum et mollis sem. Nam posuere, sapien ac varius feugiat, elit leo feugiat lectus, nec elementum augue erat vel urna. Vestibulum laoreet varius turpis, et interdum arcu viverra non. Aenean a semper turpis. Donec tincidunt erat rhoncus, malesuada turpis sed, gravida mi. Nunc eget tortor non lorem gravida rutrum quis et leo. Donec eu odio in nunc luctus finibus. Sed iaculis neque a mollis vestibulum. Proin aliquam mauris eu odio finibus, eu posuere quam posuere. Donec at aliquam enim, in pretium dui. Aenean faucibus iaculis lacus, vitae hendrerit nibh pharetra eget.

                    Fusce pellentesque sem at mi auctor facilisis. Quisque feugiat, erat eget sagittis viverra, nisl quam tincidunt ipsum, vitae tempor lacus magna eget risus. Fusce consectetur, turpis eget aliquet imperdiet, enim tortor tempor dui, vel suscipit nisl magna at quam. Pellentesque imperdiet id ligula ut lobortis. Proin auctor venenatis velit vehicula convallis. Suspendisse vehicula leo risus. Integer quis odio aliquam, accumsan mi ut, lacinia magna.

                    Etiam sed libero accumsan, rutrum tortor nec, sodales justo. Suspendisse eget sapien erat. Nulla facilisi. Quisque sed lorem nec nisi ornare congue non in justo. Aliquam felis ipsum, tincidunt a nisl sed, dictum tristique nibh. Praesent at odio non dui condimentum faucibus at eu erat. Curabitur vitae cursus ante, et gravida lectus. Suspendisse at nunc condimentum, maximus orci in, tincidunt magna. Nam nisl nulla, facilisis et velit et, posuere porttitor massa. Suspendisse sollicitudin arcu ut egestas tempor. Donec at vestibulum leo, non bibendum orci. Pellentesque dui magna, aliquet sed aliquet quis, efficitur et mi. Sed sapien lacus, facilisis scelerisque augue non, finibus viverra neque. Donec a tellus libero. Integer at congue libero, eu sollicitudin lectus. Ut eget massa vitae velit volutpat laoreet a quis mauris.

                    Fusce imperdiet ornare metus, ac laoreet erat ornare ac. Donec finibus nulla at metus iaculis eleifend maximus imperdiet elit. Nullam euismod est sit amet aliquet sodales. Donec nec ornare felis. In hac habitasse platea dictumst. Mauris a augue gravida metus ultricies ornare quis in mauris. Praesent a faucibus elit. Sed fermentum ligula sit amet purus fringilla, at faucibus lorem blandit. Curabitur gravida, libero eu interdum pretium, enim est tincidunt nulla, condimentum placerat augue ligula sit amet est.

                    Quisque justo tortor, mollis nec nibh ut, ornare dignissim mauris. Praesent eget eleifend lorem. Duis vel ipsum a dolor placerat accumsan vitae eu nisi. Nulla efficitur non ex vel consectetur. Donec et felis at urna semper feugiat ut fermentum justo. In felis neque, cursus sed sollicitudin vitae, iaculis a nisi. Aliquam erat volutpat. Sed congue nisi id felis lobortis hendrerit. Vivamus pharetra ante vel orci suscipit, finibus rhoncus eros venenatis. Fusce eu urna eleifend, dapibus sem vel, tempor odio. Donec eleifend elit odio, sit amet blandit eros dignissim ut. Donec id interdum nulla. In non dapibus erat, at lacinia justo. Ut in enim condimentum, luctus orci sed, ullamcorper odio. Vestibulum sapien mauris, dictum id leo id, mattis vehicula erat.

                    Duis nunc massa, scelerisque sit amet blandit id, imperdiet sed ex. Integer dictum orci eleifend pharetra convallis. Nam orci lectus, rutrum non porta hendrerit, dapibus non urna. Mauris non orci iaculis velit efficitur consequat. Aenean ac ligula a dui dictum tempus id ut nulla. Nam rutrum ut neque id sagittis. Morbi mauris arcu, dignissim nec lorem non, rhoncus fermentum velit. Fusce eu odio tincidunt, sollicitudin enim at, tempus felis. Pellentesque blandit ultricies quam, nec dapibus tellus venenatis non. Proin laoreet, tortor sit amet sollicitudin lacinia, felis sem luctus risus, rhoncus lacinia ipsum dolor eu leo. Aliquam at diam vel metus interdum ornare id nec eros.

                    Morbi accumsan posuere odio sit amet posuere. Phasellus vehicula urna nunc, eget malesuada dolor euismod lobortis. Curabitur volutpat nisl vitae pharetra varius. Suspendisse quis ipsum dolor. Donec posuere semper aliquam. Vestibulum scelerisque massa dolor, eget egestas ex efficitur vitae. Donec lacinia vel ipsum id bibendum. Integer auctor metus mollis, vestibulum orci ut, dictum augue.

                    Nam vel orci et erat cursus gravida. Integer gravida placerat erat, vitae commodo metus rutrum quis. Donec ac ipsum vitae quam porttitor pharetra. Curabitur in nibh nunc. Suspendisse vehicula, lacus id maximus dapibus, metus justo gravida nibh, maximus finibus arcu libero a elit. Nunc at ultrices ligula. Aliquam at ornare tortor, eget efficitur massa. Aliquam a nisi libero. Sed viverra sem et justo mollis, at sagittis mi mollis. Nullam ut tristique turpis. Donec vehicula sapien ligula, non consectetur turpis venenatis nec.

                    Curabitur elementum vestibulum tellus, sit amet faucibus risus. Ut efficitur tellus ac nunc malesuada tincidunt. Duis id eros sed arcu finibus egestas. Suspendisse vitae consectetur velit. Nullam sed rutrum nulla. Sed elementum cursus arcu, a viverra ex. Morbi magna ante, convallis ac faucibus quis, semper quis massa. Sed varius a est nec porta. Etiam ultrices diam et mi condimentum scelerisque. Curabitur vitae eros lacinia, ullamcorper nunc eu, ultricies tortor. Nam in pharetra tellus, vitae pretium tellus. In in dapibus felis. Sed id iaculis turpis. Aliquam porta orci ipsum, sit amet porta nibh accumsan quis. Nam quis purus porttitor, aliquet massa id, tincidunt nibh. Fusce facilisis tincidunt nunc, at fermentum sem laoreet at.

                    Duis euismod, dolor nec aliquet egestas, erat leo bibendum arcu, sed pharetra eros dolor porttitor urna. Suspendisse ac tristique urna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut laoreet imperdiet tortor, vitae suscipit justo consectetur vel. Integer diam ipsum, porttitor non imperdiet consectetur, tincidunt non lorem. Sed ac ullamcorper augue. Nulla et leo auctor, interdum ligula quis, maximus ex. Maecenas quis tellus diam. In id facilisis turpis. Proin eu condimentum massa, quis rhoncus quam. Sed luctus ligula tincidunt magna vestibulum, sit amet pellentesque massa tempor. Nam vestibulum, libero non feugiat interdum, nisi libero ultricies lectus, vel porttitor mauris neque ut tellus.

                    Donec aliquam fermentum nunc, a pharetra quam pulvinar sed. Suspendisse lacinia egestas justo ut accumsan. Vivamus enim mauris, interdum at sem vitae, cursus scelerisque ex. Nam imperdiet velit in sem semper aliquam. In hac habitasse platea dictumst. Donec iaculis dui sed nisi gravida, quis viverra turpis dapibus. Vestibulum accumsan sodales arcu, id iaculis augue cursus sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Duis sit amet facilisis elit. Aenean tempus mauris sit amet vestibulum facilisis. Cras ut sapien nulla. Donec at nulla ac velit posuere euismod quis ac augue. Ut dignissim lacinia nunc quis molestie.

                    Pellentesque mollis mollis odio sed molestie. Vestibulum bibendum cursus tortor ut iaculis. Suspendisse malesuada ex sapien, quis porttitor lorem euismod eu. Integer ac imperdiet leo. Pellentesque sit amet convallis massa, vel iaculis quam. Etiam ut dapibus nisl, sed scelerisque est. Nam sit amet arcu malesuada, fermentum odio non, maximus massa.

                    Morbi auctor euismod lectus, quis lacinia sem consectetur et. Praesent vel luctus nulla. Sed fringilla, nisl id dictum consequat, risus nisi fermentum tortor, vitae faucibus elit nisl non erat. Etiam ultricies augue nisi, vel finibus urna auctor et. Nullam tempus, turpis ac molestie congue, metus mauris euismod erat, eget auctor neque leo et augue. Ut ultrices ipsum ut condimentum feugiat. Cras rhoncus semper dolor, eget rhoncus turpis porta et. Donec tristique finibus libero sed accumsan. Fusce ac erat quis urna varius tempus. Fusce ac lorem odio. Morbi sodales rhoncus ullamcorper. Quisque vel mattis lorem. Duis a est arcu. Phasellus quis metus tincidunt, placerat metus at, blandit mauris. Duis efficitur sem augue, et tincidunt leo ultricies eu. Vestibulum sapien elit, venenatis sit amet lorem volutpat, pretium gravida nisl.

                    In convallis suscipit pretium. Maecenas faucibus ex vitae massa cursus, sit amet tristique justo interdum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin efficitur pulvinar velit, quis consequat nisl commodo eget. Duis placerat felis sed urna mattis mattis. Pellentesque lacinia rhoncus tortor et cursus. Donec quam ligula, vulputate sed eros bibendum, euismod mollis dui.

                    Quisque dignissim maximus aliquam. Vestibulum elit enim, blandit a suscipit at, bibendum in sem. Vivamus eu finibus augue. Fusce ullamcorper felis vitae dignissim convallis. Ut placerat a purus non aliquet. Maecenas sit amet urna nisl. Nullam volutpat non velit quis sodales. Integer suscipit justo a quam volutpat ultricies. In urna tortor, fringilla ut semper sit amet, lacinia eget dui.

                    Aliquam et sem maximus, pharetra felis sit amet, blandit orci. Cras imperdiet iaculis odio nec dictum. Aliquam fringilla odio placerat placerat finibus. Phasellus dapibus consectetur leo, in mollis erat accumsan ac. Praesent sagittis finibus ultricies. Cras non quam vel mauris lobortis lobortis. Donec a justo vitae orci varius egestas et in lectus. Donec tristique libero vitae luctus dictum. Praesent eget condimentum diam. Vestibulum id elit ut metus suscipit molestie vel vitae lectus. Ut consequat nibh eros, quis malesuada massa volutpat non. Fusce id aliquet elit. Proin at felis suscipit, ullamcorper orci in, rhoncus nibh.

                    Vestibulum non magna sit amet turpis pulvinar mollis a ac nibh. Donec porta mauris est, sed iaculis ex venenatis ut. Etiam vitae lacus dignissim, auctor eros vel, facilisis felis. Pellentesque facilisis egestas ultricies. Quisque gravida sollicitudin nunc ac pretium. Suspendisse a elit neque. Aenean at fringilla orci. Mauris vel enim eget ipsum ullamcorper vulputate nec at magna. Nullam orci lorem, tempus eu urna sed, volutpat pulvinar quam. Praesent malesuada justo sit amet elementum cursus. In ac tortor risus. Nulla quis condimentum magna. Quisque sed neque feugiat dolor accumsan mollis. Phasellus convallis, justo sit amet interdum accumsan, dui mi tincidunt lorem, non viverra urna magna quis leo. In lacus neque, tincidunt ac porttitor sed, malesuada at nisl. Fusce accumsan accumsan hendrerit.

                    Fusce iaculis, tortor ac porta sagittis, velit erat feugiat lorem, eu rhoncus metus risus non tellus. In eget dolor at justo finibus semper. Etiam semper leo quis nulla lobortis, at congue arcu feugiat. Nulla pulvinar malesuada sollicitudin. Sed mollis risus non dolor lacinia faucibus. Sed id mi magna. Nullam ex diam, venenatis eu turpis quis, pulvinar ornare nisi. Integer vehicula eleifend odio, dapibus porta velit congue a. Ut id lorem commodo eros efficitur cursus. Phasellus id justo orci. Aenean id auctor mi.

                    Phasellus rutrum, massa at consequat volutpat, nunc ante ultrices felis, sed aliquam diam diam ac mi. Morbi eros orci, placerat ut varius eu, sagittis varius nunc. Duis ut molestie erat. Curabitur in lectus eu nibh iaculis sollicitudin non consequat diam. Curabitur tempus odio sit amet dapibus consequat. In at mi justo. Morbi fermentum consequat posuere.

                    Aliquam iaculis neque elit, quis hendrerit mi feugiat non. Nullam vehicula ut erat sed feugiat. Nam enim nibh, luctus a blandit vel, accumsan id augue. Nullam hendrerit aliquet nisl vel rhoncus. Maecenas suscipit posuere nibh, non ornare eros semper ut. Duis nec ornare erat. Praesent commodo ornare velit, et bibendum neque auctor a. Vestibulum sem ante, eleifend in ultricies quis, consequat a turpis. Nulla varius mi quis ante mattis, eu ultricies nibh euismod. Sed pellentesque vulputate nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent nibh sapien, porta at diam a, tempor convallis nulla.

                    Integer tincidunt rutrum odio, eu efficitur arcu gravida sed. Aliquam non neque non sapien tincidunt condimentum. Nullam commodo scelerisque nisl, sed laoreet ipsum lacinia id. Sed et dui convallis, rutrum eros sit amet, ullamcorper lorem. Cras congue interdum lorem in rutrum. Nulla eu lorem sed libero egestas aliquam eu eget metus. Vivamus dignissim tortor ultricies sem tempor, in tincidunt mi sagittis. Curabitur vehicula felis sed ligula viverra, sit amet mattis justo cursus. Quisque dui erat, laoreet sit amet nulla ac, vulputate vehicula nibh. Cras nec dignissim mi.

                    Curabitur aliquet metus turpis, ut dictum dolor dictum at. Cras mi lorem, tincidunt sed velit vel, scelerisque luctus libero. Praesent ultrices dolor in volutpat dignissim. Aliquam rutrum lectus est, a condimentum magna venenatis vel. Nullam non justo ac tortor blandit blandit. Nam fermentum eu nulla eu maximus. Duis tempus massa nulla, nec aliquam ante suscipit sit amet. Donec condimentum tempor massa nec gravida.

                    Curabitur efficitur pellentesque sem, id condimentum nulla pulvinar et. Duis tincidunt malesuada dapibus. Morbi placerat fringilla egestas. Donec porttitor condimentum leo, id bibendum lectus faucibus sit amet. Sed quis mollis urna. In molestie pharetra leo, id maximus tellus bibendum sit amet. Duis lobortis at justo ut scelerisque. Donec dignissim faucibus lacus non blandit. Nulla tincidunt, erat eu cursus rutrum, velit ipsum pulvinar augue, non rutrum erat orci ut diam. Sed auctor dignissim porttitor.

                    Integer sodales nunc eget mattis molestie. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Ut tempus lectus eget tristique accumsan. Phasellus ultricies elementum odio, mattis tristique elit mollis gravida. Suspendisse in mauris nec enim imperdiet facilisis. Curabitur vel lacus in purus ornare ultricies vitae eget erat. Curabitur varius erat ipsum, in ultrices arcu accumsan quis. Proin tempus, mi malesuada accumsan sollicitudin, diam lorem ultricies dolor, et hendrerit sapien dolor id mi. Integer at hendrerit lectus, fermentum faucibus tellus. Nullam egestas metus facilisis lectus facilisis elementum.

                    Aliquam efficitur, justo quis dignissim rhoncus, enim quam condimentum odio, nec ullamcorper turpis felis nec enim. Mauris placerat mattis iaculis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse finibus elit id fermentum fringilla. Sed ultrices velit et velit fermentum, ac aliquam ex eleifend. Suspendisse porta volutpat maximus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam ac diam suscipit, ultricies augue sit amet, egestas ligula. Nulla at urna nibh.
                </p>
            </div>
        </div>
    </div>

    <script src="~/vendor/jquery.min.js"></script>

    <script src="~/vendor/popper.min.js"></script>
    <script src="~/vendor/bootstrap.min.js"></script>

    <script src="~/vendor/perfect-scrollbar.min.js"></script>

    <script src="~/vendor/dom-factory.js"></script>

    <script src="~/vendor/material-design-kit.js"></script>

    <script src="~/vendor/fix-footer.js"></script>

    <script src="~/vendor/toastr.min.js" runat="server"></script>
    <script src="~/js/toastr.js" runat="server"></script>

    <script src="~/js/jsMask.js" runat="server"></script>

</body>
