@{ ViewData["Title"] = "Top Charlas Vendidas";
    Layout = "~/Views/Shared/_LayoutBase.cshtml"; }

<body onload="DinamicMenu(); validaAdminRepoTop(5)">

    <button id="confirmacionExporte" hidden data-toggle="toastr" data-toastr-type="primary" data-toastr-title="Notificación" data-toastr-message="Reporte exportado con exito">
        <!--Este boton confirma exportacion-->
    </button>

    <button id="errorExporte" hidden data-toggle="toastr" data-toastr-type="warning" data-toastr-title="Alerta" data-toastr-message="Ha ocurrido un error al generar el reporte">
        <!--Este boton error exportacion-->
    </button>

    <div class="mdk-header-layout__content page-content" id="container">
        <div class="page-section bg-primary border-bottom-white mb-5">
            <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-md-left">
                <div class="flex mb-32pt mb-md-0">
                    <h2 class="text-white mb-0">Top 10 Charlas más vendidas</h2>

                </div>
            </div>
        </div>
        <div class="instrucciones">
            <div class="align-items-center container-lg card mb-lg-32pt pt-3 pb-3 mt-2 mb-5">
                <div class="col-lg-12">
                    <div class="page-separator m-0">
                        <button type="button" class="btn btn-primary ml-5" data-toggle="collapse" data-target="#demo">Descripción</button>
                    </div>

                    <div id="demo" class="collapse mt-3" align="justify">
                        <div class="alert alert-soft-warning text-black-100">
                            <br>El reporte muestra el top 10 de las charlas mejor vendidas.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group card mb-lg-32pt container-lg pt-3 pb-3 mt-2 mb-5" style="width:100%; height:70%;">
            <div class="mt-2 mb-3">
                <span class="float-left font-weight-bold font-size-16pt mt-2 mr-1" style="display:inline">Exportar Como: </span>
                <button type="button" class="btn btn-primary ml-2 float-left" onclick="PrepararPDF(5)">PDF</button>
                <button type="button" class="btn btn-primary ml-2 float-left" onclick="TXT(5)">TXT</button>
                <button type="button" class="btn btn-primary ml-2 float-left" onclick="CSV(5)">CSV</button>
            </div>
            <canvas id="ChartTopCharlasVendidas">
            </canvas>
        </div>
    </div>
    <br />
    <br />
    <br />
</body>

<script src="~/js/jsReportes.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.13/jspdf.plugin.autotable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>